body {
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at center, #202030 20%, #0A0A10 100%);
  padding: 20px;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge moderno */
}

h1 {
  text-align: center;
}


/* ============================= */
/* Layout principal */
/* ============================= */

.main-content {
  display: grid;
  gap: 20px;
  grid-template-columns: 7fr 3fr; /* cards e painel lado a lado */
  grid-template-rows: auto;
  
}
.content-body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* ============================= */
/* Imagens e vídeos dentro do conteúdo */
/* ============================= */
.content-body img,
.content-body video,
.content-body iframe {
  width: 100%;      /* não ultrapassa a largura do painel */
  height: auto;         /* mantém proporção */
  display: block;
  margin: 10px 0;       /* espaçamento vertical */
  border-radius: 8px;
}



.timeline-container {
  position: relative;
  height: 150px;
  margin: 20px 30px;
  background: rgba(0,0,0,0);
  padding-top: 20px;
  border-radius: 6px;
  overflow: hidden;
  color:white;
  cursor: grab;
  user-select: none;
}

/* Linha principal */
.timeline-line {
  position: relative;
  height: 2px;
  background: #333;
}

/* Períodos */
.period {
  position: absolute;
  top: 5px;
  height: 20px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  font-size: 12px;
  padding: 2px 6px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;

  transition:
    left 0.28s cubic-bezier(0.22, 1, 0.36, 1),
    width 0.28s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.2s ease,
    transform 0.28s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.28s cubic-bezier(0.22, 1, 0.36, 1);
}

.period:hover {
  transform: translateY(-2px); /* sobe suavemente */
  box-shadow: 0 8px 24px rgba(220, 220, 240, 0.35);
}

.period.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Eventos */
.event {
  position: absolute;
  top: 1px;

  text-align: center;
  font-size: 13px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(0); /* estado base */
  transition:
    left 0.28s cubic-bezier(0.22, 1, 0.36, 1),
    width 0.28s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.3s ease,
    transform 0.28s cubic-bezier(0.22, 1, 0.36, 1);
}
.event-dot {
  width: 15px;
  height: 30px;
  background: linear-gradient(to bottom, #7c6bff, #2121ff);
  margin: 0 auto 6px;
  position: relative;

  /* formato de pino apontando pra cima */
  clip-path: polygon(
    50% 0%,     /* ponta superior */
    85% 35%,
    100% 75%,
    100% 100%,
    0% 100%,
    0% 75%,
    15% 35%
  );

  transform: translateY(0); /* estado base */
  transition:
    left 0.28s cubic-bezier(0.22, 1, 0.36, 1),
    width 0.28s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.3s ease,
    transform 0.28s cubic-bezier(0.22, 1, 0.36, 1);
  border-radius: 0 0 6px 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

.event-dot::after {
  content: "";
  width: 8px;
  height: 8px;
  background: rgba(255,255,255,0.8);
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 3.5px;
}
.event-dot:hover {
  transform: translateY(3px);
}
.event-title {
  max-width: 120px;
  transition: all 0.2s ease;
}


/* Barra de pesquisa */
.search-container {
  max-width: 1100px;
  margin: 0px 30px;
  text-align: center;
}

#searchInput {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
}
.results-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
  margin: 0 30px;
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
}



/* Cards */
.result-card {
  position: relative;
  height: 130px;
  padding: 12px;
  border-radius: 6px;
  overflow: hidden; /* importante */
  color: #787878;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  box-shadow:
  0 2px 6px rgba(0,0,0,0.1),
  inset 30px -20px 30px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: all 0.2s ease;
}.result-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4); /* ajuda na compatibilidade */
  z-index: 0;
}
.result-card * {
  position: relative;
  z-index: 1;
}.result-card:hover {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  transform: translateY(-3px);
  box-shadow: inset 0 0 0 rgba(0,0,0,0);
  color: rgb(15, 15, 15);
}
.result-card:hover::before {
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  background: rgba(0,0,0,0.2);
}

.result-title {
  font-weight: bold;
  margin-bottom: auto;
}
.result-type {
  font-size: 11px;
  margin-bottom: 30%;
}



/* Ítens da TL*/
/* Quando aparece */
.event.visible {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}


/* Régua*/
.timeline-scale {
  position: relative;
  height: 15px;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 0 40px; /* margem lateral */
  box-sizing: border-box;
  z-index: 2;
}
.scale-mark {
  position: absolute;
  transform: translateX(-50%);
}
.scale-mark:first-child {
  transform: translateX(0%);
}
.scale-mark:last-child {
  transform: translateX(-100%);
}
.scale-mark::after {
  content: "";
  display: block;
  margin: 0px auto 0;
  width: 1px;
  height: 10px;
  background: #999;
}





.content-block img {
  max-width: 100%;
  border-radius: 8px;
  margin: 10px 0;
}
.content-block h2 {
  margin-top: 10px;
}
.content-block p {
  line-height: 1.5;
  margin: 8px 0;
}




.no-results {
  grid-column: 1 / -1; /* ocupa todas as colunas do grid */
  min-height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  padding: 60px 20px;
  color: #777;

  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}
.no-results h2 {
  margin-bottom: 10px;
  font-weight: 600;
}
.no-results p {
  opacity: 0.8;
}
@keyframes fadeIn {
  to { opacity: 1; }
}




/* ============================= */
/* Painel de Conteúdo */
/* ============================= */
.content-panel.open {
  opacity: 1;
  pointer-events: all;
}

#close-content {
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}

/* Painel de conteúdo */
.content-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgba(20, 20, 30, 0.8);
  border-radius: 8px;

  box-shadow: 0 2px 6px rgba(0,0,0,1);

  /* Altura responsiva */
  max-height: 600px;
  height: 100%;
  border-top: 1px solid rgba(150, 150, 180, 0.1);
  border-left: 1px solid rgba(150, 150, 180, 0.1);


  margin:0 30px;
  color: white;

  overflow-y: hidden; /* impede que saia do painel */
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease;
}
.content-panel:hover{
  background: rgba(30, 30, 40, 0.8);
  transform: translateY(-3px);
}

/* Cabeçalho fixo do painel */
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #00000000;
  flex-shrink: 0; /* mantém o cabeçalho visível */
  font-size: 15px;
}

/* Corpo do painel rolável */
.content-body {
  padding: 16px;
  overflow-y: auto; /* rolagem interna se o conteúdo for grande */
  font-size: 14px;
  line-height: 1.5;
  flex-grow: 1; /* ocupa todo o espaço restante do painel */
}
/* Ajusta os resultados */
.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 15px;
  margin: 0 30px;
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
}